body {
  background-color: #c6d602;
  display: flex;
  justify-content: space-between;
}

h1,
h4 {
  text-align: center;
}

.left-column {
  flex: 1;
  padding: 20px;
}

.right-column {
  flex: 2;
  padding: 20px;
}

img {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}
