:root {
  --body-bg: #ffffff;
  --body-color: #000000;
}

.dark-mode:root {
  --body-bg: #212529;
  --body-color: #fafafa;
}

.alert {
  padding: 20px;
  color: white;
  margin-bottom: 15px;
  text-align: center;
}

@media (max-width: 660px) {
  .col-* {
    margin: 0 auto;
  }
}

.info {
  text-transform: uppercase;
}

form {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
textarea {
  width: 100%;
  padding: 12px 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.ajuste-form-control {
  margin-top: 60px;
}

.center {
  text-align: center;
  justify-content: center;
  height: 50%;
}

.botao {
  margin-top: 5px;
}

.botao-pesquisar {
  font-size: 13px;
}

.formulario {
  border: none;
  margin-bottom: -45px;
  width: 100%;
}
